#tasks

javascript:
  $(function () {
    const query = {query: '{allTasks {id title}}'};

    $.ajax({
      url: '/graphql',
      type: 'POST',
      dataType: 'json',
      data: query
    })
      .done(function (result) {
        result.data.allTasks.forEach(function (task) {
          $('#tasks').append(`<a>${task.id}: ${task.title}</a><br>`)
        });
      })
      .fail(function (result) {
        console.log(result);
      })
  });
