label search by task title
input#task-search type="text"

hr

#tasks

javascript:
  $(function () {
    const query = {query: '{allTasks {id title}}'};

    $.ajax({
      url: '/graphql',
      type: 'POST',
      dataType: 'json',
      data: query
    })
      .done(function (result) {
        result.data.allTasks.forEach(function (task) {
          $('#tasks').append(`<a>${task.id}: ${task.title}</a><br>`)
        });
      })
      .fail(function (result) {
        console.log(result);
      })
  });

  $('#task-search').on('change', function (e) {
    const query = {query: `{findTaskBy(title: "${e.target.value}") {id title}}`};
    $('#tasks').empty();

    $.ajax({
      url: '/graphql',
      type: 'POST',
      dataType: 'json',
      data: query
    })
      .done(function (result) {
        result.data.findTaskBy.forEach(function (task) {
          $('#tasks').append(`<a>${task.id}: ${task.title}</a><br>`)
        });
      })
      .fail(function (result) {
        console.log(result);
      })
  });

